.apple {
    padding: 15px 0;
}

.button-set {
    display: flex;
    justify-content: center;
}

.color-button {
    color: white;
    width: 8vw;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    padding: 12px 0;
    margin-top: 20px;
}

.color-button:hover {
    cursor: pointer;
}

#text-field {
    background-color: white;
    width: 20vw;
    margin: 20px auto;
    border: none;
    padding: 10px 0;
    text-align: center;
    font-family: Verdana;
    font-size: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

#text-field:focus {
    outline: none;
    width: 50vw;
    transition-duration: 1s;
}

.text-field {
    font-weight: bolder;
    font-family: Verdana;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 30px;
    font-size: 2vw;
    text-align: center;
    overflow: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 3vw;
    left: 47.5vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.6vw;
    width: 2.6vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(1.95vw);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
